{% extends 'base1.html.twig' %}
{% block title %}<title>Ajouter Exposee</title>{% endblock %}
{% block body %}
    <h1>Ajouter Exposee</h1>
    {{ form_start(form) }}

{#    {{ form_label(form.imageFile,"image:") }}#}
{#    {{ form_widget(form.imageFile,{attr: {class:'form-control'}}) }}#}

{#    {{ form_label(form.dateC,"dateC:" ) }}#}
{#    {{ form_widget(form.dateC,{attr: {class:'form-control'}}) }}#}

{#    {{ form_label(form.nom,"nom:" ) }}#}
{#    {{ form_widget(form.nom,{attr: {class:'form-control'}}) }}#}

{#    {{ form_label(form.description,"description:" ) }}#}
{#    {{ form_widget(form.description,{attr: {class:'form-control'}}) }}#}



    {{ form_end(form) }}
{% endblock %}